table {
  width: 100%;
}

.container {
  padding: 0 1em 0 1em;
  height: fit-content;
}

mat-icon:hover {
  cursor: pointer;
}

.add-btn {
  margin-right: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}